h3#number {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: #fff;
	padding-left: .5rem;
	font-size: 1rem;
	bottom: 0;
	opacity: .7;
}

h2#contact{
	font-family: 'Roboto', sans-serif;
	text-align: center; 
	margin-bottom: 2rem;
	padding-top: 4rem;
	color:white;
}