h2#about-us {
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5rem;
	letter-spacing:.3rem;
}

p#about-blurb {
	font-family: 'Roboto', sans-serif;
	line-height: 3rem;
	text-align: center;
	letter-spacing: .1rem;
}

div#social-icons {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

img.icons {
	height:6rem;
	width: 6rem;
	margin-top: 3rem;
	margin-right:1rem;
	margin-left:1rem;
}

img.icons:hover {
	opacity: .5;
}

@media only screen and (max-width: 960px) {
  
  h2#about-us {
    margin-bottom: 1rem;
  }

  p#about-blurb {
  		line-height: 2rem;
  }

  img.icons {
  	height: 4rem;
  	width: 4rem;
  }
}