h2#work-title{
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin-bottom: 2rem;
	margin-top: 2rem;
}
div.work-blocks{
	text-align: center;
}
.imageblock {
	height: 20rem;
	width: 20rem;
	border: 1px solid black; 
	margin-bottom: 1rem;
	text-align: center;
}

ul{
	text-align: center;
}

video.all{
	height: 16rem;
}


