<div id="fullpage">
	<div class="row section" id="one">
		<header class="small-12 columns">
			<nav>
				<p class="intro" id="hi">HI</p>
				<p class="intro" id="im">we're</p>
				<p class="intro" id="clare">izzy + clare</p>
			</nav>
		</header>
	</div>
	


	<div class="row section" id="two">
		<h2> Page 2 </h2>
	</div>
</div>