<div id="fullpage">
	<div class="section" id="one">
		
		<header>
			<nav class="small-12 columns">
				<p class="intro" id="hi">Hi</p>
				<p class="intro" id="im">we're</p>
				<p class="intro" id="clare">izzy + clare</p>
			</nav>
		</header>

    <section class="main-section row" id="circles">
        <img class="circles small-3 columns" src="images/circle1.png"> 
        <img class="circles small-3 columns" src="images/circle2.png"> 
        <img class="circles small-3 columns" src="images/circle3.png">
        <img class="circles small-3 columns" src="images/circle4.png">
      </div>
      </section>
	</div>
	


	<div class="row section" id="two">
		<h2> Page 2 </h2>
	</div>
</div>