<div id="fullpage">
	<div class="section" id="one">
		<header>
			<nav class="small-12 columns">
				<p class="intro" id="hi">Hi</p>
				<p class="intro" id="im">we're</p>
				<p class="intro" id="clare">izzy + clare</p>
			</nav>
		</header>
    <section class="main-section row" id="circles">
      <img class="circles small-3 columns" src="images/circle1.png"> 
      <img class="circles small-3 columns" src="images/circle2.png"> 
      <img class="circles small-3 columns" src="images/circle3.png">
      <img class="circles small-3 columns" src="images/circle4.png">
    </section>
		<section class="flashing-words row" id="words">
			<h1 class="small-12 columns" id="rolling">we are junior <span class="txt-rotate" data-period="2000" data-rotate='[ "developers.", " designers.", "creators." ]'></span></h1>
		</section>
		<section class="row" id="arrowsdown">
			<a href="#section-two" id="arrows-link">
				<svg class="arrows small-12 columns">
		      <path class="a1" d="M0 0 L30 32 L60 0"></path>
		      <path class="a2" d="M0 20 L30 52 L60 20"></path>
		      <path class="a3" d="M0 40 L30 72 L60 40"></path>
	      </svg>
	    </a>
		</section>
	</div>
	
	<div class="row section" id="two">
		<a id=""name="section-two"></a>
		<h2> Section 2 </h2>
		<section id="apparel-site" class="row">
			<video class="small-12 columns" id="engapparel" preload="auto" width="550" autoplay="autoplay" height="300" loop poster="http://dog48x6fl85v0.cloudfront.net/englogo.png" data-setup="{}">
				<source src="http://d2jr4qmh8qz2ne.cloudfront.net/joefinal.mp4" type='video/mp4'/>
			</video>
		</section>
	</div>


	<div class="row section" id="three">
		<a name="section-three"></a>
		<h2> Section 3 </h2>
	</div>


	<div class="section" id="four">
		<a name="section-four"></a>
		<h2> Section 4 </h2>
	</div>
</div>