<div id="fullpage">
	<div class="section" id="one">
		<header>
			<nav class="small-12 columns">
				<p class="intro" id="hi">Hi</p>
				<p class="intro" id="im">we're</p>
				<p class="intro" id="clare">izzy + clare</p>
			</nav>
		</header>
    <section class="main-section row" id="circles">
      <img class="circles small-3 columns" src="images/circle1.png"> 
      <img class="circles small-3 columns" src="images/circle2.png"> 
      <img class="circles small-3 columns" src="images/circle3.png">
      <img class="circles small-3 columns" src="images/circle4.png">
    </section>
		<section class="flashing-words row" id="words">
			<h1 class="small-12 columns" id="rolling">we are junior <span class="txt-rotate" data-period="2000" data-rotate='[ "developers.", " designers.", "creators." ]'></span></h1>
		</section>
		<section class="row" id="arrowsdown">
			<a href="#section-two" id="arrows-link">
				<svg class="arrows small-12 columns">
		      <path class="a1" d="M0 0 L30 32 L60 0"></path>
		      <path class="a2" d="M0 20 L30 52 L60 20"></path>
		      <path class="a3" d="M0 40 L30 72 L60 40"></path>
	      </svg>
	    </a>
		</section>
	</div>
	
	<div class="row section" id="two">
		<a id=""name="section-two"></a>
			<h2 id="about-us"> ABOUT US </h2>
				<p id="about-blurb">Lorem ipsum dolor sit amet, saepe animal fabulas eos cu. His ea alia docendi sententiae. Vim saepe mentitum ex, eum cu rebum singulis. Ad accusam disputationi vis, mea ne iuvaret accusamus theophrastus. Cu aliquam inimicus moderatius vim, quo id omnes quidam fierent, etiam accommodare ius te.</p>

		<div class="row" id="social-icons">
			<a href="https://github.com/imarkwick" target="_blank">
				<img class="icons" src="images/github.png">
			</a>
			<a href="https://twitter.com/czztdevelopment"target="_blank">
				<img class="icons" src="images/twitter.png">
			</a>
		</div>
	</div>


	<div class="row section" id="three">
		<a name="section-three"></a>
		<h2> OUR WORK </h2>
		<section class="our-work">
			<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
				<li>
				<img class="imageblock" id="futurehope-img"/>
			</li>
				<li>
				<img  class="imageblock" id="futurehope-img"/>
				</li>
			<li>
				<img  class="imageblock" id="futurehope-img"/>
			</li>
			<li>
				<img  class="imageblock" id="futurehope-img"/>
			</li>
			</ul>	
		</section>
	</div>


	<div class="section" id="four">
		<a name="section-four"></a>
		<section class="container" id="emailform">
			<div id="form-main">
          <div id="small-12 columns">
            <form action="/" class="form" id="form1" method="post" name="form1">
              <input class=
              "validate[required,custom[onlyLetter],length[0,100]] feedback-input"
              id="name" name="name" placeholder="name" type="text"> <input class=
              "validate[required,custom[email]] feedback-input" id="email" name=
              "emailaddress" placeholder="email" type="text"> 
              <textarea class="validate[required,length[6,300]] feedback-input"
              id="comment" name="body" placeholder="message">
              </textarea>
              <div class="submit">
                <button id="button-blue" type="submit" value="Send">S E N D</button>
               </div>
            </form>
          </div>
        </div>
      </section>
		<h2> Section 4 </h2>
	</div>


</div>