<div id="fullpage">
	<div class="section" id="one">
		<header>
			<nav class="small-12 columns">
				<p class="intro" id="hi">Hi</p>
				<p class="intro" id="im">we're</p>
				<p class="intro" id="clare">izzy + clare</p>
			</nav>
		</header>
    <section class="main-section row" id="circles">
      <img class="circles small-3 columns" src="images/circle1.png"> 
      <img class="circles small-3 columns" src="images/circle2.png"> 
      <img class="circles small-3 columns" src="images/circle3.png">
      <img class="circles small-3 columns" src="images/circle4.png">
    </section>
		<section class="flashing-words row" id="words">
			<h1 class="small-12 columns" id="rolling">we are junior <span class="txt-rotate"  data-period="2000" data-rotate='[ "developers.", " designers.", "creators." ]'></span></h1>
		</section>
		<section id="arrowsdown">
			<a href="#section-two" class="row" id="arrows-link">
				<svg class="arrows small-12 columns">
		      <path class="a1" d="M0 0 L30 32 L60 0"></path>
		      <path class="a2" d="M0 20 L30 52 L60 20"></path>
		      <path class="a3" d="M0 40 L30 72 L60 40"></path>
	      </svg>
	    </a>
		</section>
	</div>
	
	<div class="row section" id="two">
		<a id=""name="section-two"></a>
			<header clss="row">
				<h2 id="about-us" class="small-12 columns"> ABOUT US </h2>
			</header>
			<article class="row">
				<p id="about-blurb" class="small-12 columns"><strong>Two London-based developers.</strong><br>
					Development takes a team effort,<br>
					no-one should code solo.<br>
					We create in collaboration,<br>
				 	motivated by ideas not industrys,<br>
				 	turning concepts into products.
				</p>
			</article>
		<div class="row" id="social-icons">
			<a href="https://github.com/imarkwick" target="_blank">
				<img class="icons" src="images/github.png">
			</a>
			<a href="https://twitter.com/czztdevelopment"target="_blank">
				<img class="icons" src="images/twitter.png">
			</a>
		</div>
	</div>


	<div class="row section" id="three">
		<a name="section-three"></a>
		<header class="row">
			<h2 id="work-title" class="small-12 rows"> OUR WORK </h2>
		</header>
		<section class="our-work">
			<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
				<li class="project">
					<video class="small-12 columns all-vids" id="joe" preload="auto" autoplay="autoplay" loop>
						<source src="http://d2jr4qmh8qz2ne.cloudfront.net/joefinal.mp4" type='video/mp4'/>
					</video>
					<img src="images/joehertz.png" class="work-images" id="joelogo">
					<aside id="joe-info" class="info-box">
						<h4>Joe Hertz app</h4>
						<p class="show-p">Mobile optimised music app,</p>
						<p class="show-p">designed for artists to showcase</p>
						<p class="show-p">tracks & upcoming events.</p>
					</aside>
						<p class="hidden-p">Mobile optimised music app.</p>
				</li>
				<li class="project">
					<video class="small-12 columns all-vids landscape" id="engapparel" preload="auto" autoplay="autoplay" loop>
						<source src="http://d2jr4qmh8qz2ne.cloudfront.net/apparel.mp4" type='video/mp4'/>
					</video>
					<img src="images/englogo.png" class="work-images" id="englogo">
					<aside id="apparel-info" class="info-box">
						<h4>English Apparel</h4>
						<p class="show-p">A frontend mock-site based on</p>
						<p class="show-p">the American Apparel collection</p>
						<p class="show-p">with colour added search feature.</p>
					</aside>
						<p class="hidden-p">A frontend mock ecommerce site.</p>
				</li>
				<li class="project">
					<video class="small-12 columns all-vids landscape" id="oodls" preload="auto" autoplay="autoplay" loop>
						<source src="http://d2jr4qmh8qz2ne.cloudfront.net/oodls.mp4" type='video/mp4'/>
					</video>
					<img src="images/oodls.svg" class="work-images" id="oodlslogo">
					<aside id="oodls-info" class="info-box">
						<h4>Oodls Web App</h4>
						<p class="show-p">Charity website aimed at reducing</p>
						<p class="show-p">food waste. It uses maps to locate</p>
						<p class="show-p">your nearest donation point.</p>
					</aside>
					<p class="hidden-p">Charity site to reduce food waste.</p>
				</li>
				<li class="project">
					<video class="small-12 columns all-vids" id="sleaze" preload="auto" autoplay="autoplay" loop>
						<source src="http://d2jr4qmh8qz2ne.cloudfront.net/sleaze-final.mp4" type='video/mp4'/>
					</video>
					<img src="images/sleazylogo.png" class="work-images" id="sleazylogo">
					<aside id="sleaze-info" class="info-box">
						<h4>Sleazy Sounds</h4>
						<p class="show-p">A music website that lets users</p>
						<p class="show-p">search through tracks on Soundcloud</p>
						<p class="show-p">for tunes to play and save.</p>
					</aside>
					<p class="hidden-p">Soundcloud-based music search.</p>
				</li>
			</ul>	
		</section>
	</div>

	<div class="section" id="four">
		<a name="section-four"></a>
		<header class="row">
			<h2 id="contact" class="small-12 columns"> CONTACT US </h2>
		</header>
		<section class="container" id="emailform">
			<div id="form-main" class="row">
        <div id="small-12 columns">
          <form action="/" class="form" id="form1" method="post" name="form1">
            <input class=
              "validate[required,custom[onlyLetter],length[0,100]] feedback-input"
              id="name" name="name" placeholder="name" type="text"> <input class=
              "validate[required,custom[email]] feedback-input" id="email" name=
              "emailaddress" placeholder="email" type="text"> 
            <textarea class="validate[required,length[6,300]] feedback-input"
              id="comment" name="body" placeholder="message">
            </textarea>
            <div class="submit">
              <button id="button-blue" type="submit" value="Send">S E N D</button>
            </div>
          </form>
        </div>
      </div>
    </section>
    <h3 id="number">czztdevelopment@gmail.com</h3>
	</div>
</div>