<div id="fullpage">
	<div class="section" id="one">
		<header>
			<nav class="small-12 columns">
				<p class="intro" id="hi">Hi</p>
				<p class="intro" id="im">we're</p>
				<p class="intro" id="clare">izzy + clare</p>
			</nav>
		</header>
    <section class="main-section row" id="circles">
      <img class="circles small-3 columns" src="images/circle1.png"> 
      <img class="circles small-3 columns" src="images/circle2.png"> 
      <img class="circles small-3 columns" src="images/circle3.png">
      <img class="circles small-3 columns" src="images/circle4.png">
    </section>
		<section class="flashing-words row" id="words">
			<h1 class="small-12 columns" id="rolling">we are <span class="txt-rotate"  data-period="2000" data-rotate='[ "developers.", " designers.", "creators." ]'></span></h1>
		</section>
		<section id="arrowsdown">
			<a href="#section-two" class="row" id="arrows-link">
				<svg class="arrows small-12 columns">
		      <path class="a1" d="M0 0 L30 32 L60 0"></path>
		      <path class="a2" d="M0 20 L30 52 L60 20"></path>
		      <path class="a3" d="M0 40 L30 72 L60 40"></path>
	      </svg>
	    </a>
		</section>
	</div>
	
	<div class="row section" id="two">
		<a id=""name="section-two"></a>
			<header clss="row">
				<h2 id="about-us" class="small-12 columns"> ABOUT US </h2>
			</header>
			<article class="row">
				<p id="about-blurb" class="small-12 columns"><strong>Two London-based developers.</strong><br>
					Development takes a team effort,<br>
					no-one should code solo.<br>
					We create in collaboration,<br>
				 	motivated by ideas not industrys,<br>
				 	turning concepts into products.
				</p>
			</article>
		<div class="row" id="social-icons">
			<a href="https://github.com/imarkwick" target="_blank">
				<img class="icons" src="images/github.png">
			</a>
			<a href="https://twitter.com/czztdevelopment"target="_blank">
				<img class="icons" src="images/twitter.png">
			</a>
		</div>
	</div>

	<div class="row section" id="three">
		<a name="section-three"></a>
		<header class="row">
			<h2 id="work-title" class="small-12 rows"> OUR WORK </h2>
		</header>
		<section class="our-work">
			<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
				<li class="project">
					<a href="#" data-reveal-id="joeModal">
						<video class="small-12 columns work all-vids" id="joe" preload="auto" autoplay="autoplay" loop>
							<source src="http://d2jr4qmh8qz2ne.cloudfront.net/joefinal.mp4" type='video/mp4'/>
						</video>
					</a>
					<div id="joeModal" class="reveal-modal small-12 columns" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
					  <h2 class="modalTitle">Joe Hertz app</h2>
					  <p class="lead">Mobile optimised music app</p>
					  <p class="blurb">designed for artists to showcase tracks & upcoming events</p>
					  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
				</div>
					<img src="images/joehertz.png" class="work-images" id="joelogo">
						<p class="hidden-p">Mobile optimised music app.</p>
				</li>

				<li class="project">
					<a href="#" data-reveal-id="engModal">
						<video class="small-12 columns all-vids work landscape" id="engapparel" preload="auto" autoplay="autoplay" loop>
							<source src="http://d2jr4qmh8qz2ne.cloudfront.net/apparel.mp4" type='video/mp4'/>
						</video>
					</a>
					<div id="engModal" class="reveal-modal small-12 columns" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
						<h2 class="modalTitle">English Apparel</h2>
					  <p class="lead">Retail Mock-up</p>
					  <p class="blurb">A frontend mock-site based on the American Apparel collection, users can filter clothes based on colours.</p>
					  <a class="links" href="http://english-apparel.herokuapp.com/" target="_blank">View English Apparel</a>
						  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
					</div>
						<img src="images/englogo.png" class="work-images" id="englogo">
							<p class="hidden-p">A frontend mock ecommerce site.</p>
				</li>

				<li class="project">
						<a href="#" data-reveal-id="oodlsModal">
							<video class="small-12 columns all-vids work landscape" id="oodls" preload="auto" autoplay="autoplay" loop>
								<source src="http://d2jr4qmh8qz2ne.cloudfront.net/oodls.mp4" type='video/mp4'/>
							</video>
						</a>
						<div id="oodlsModal" class="reveal-modal small-12 columns" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
							<h2 class="modalTitle">Oodls Web App</h2>
						  <p class="blurb">Charity website aimed at reducing food waste. It uses maps to locate your nearest donation point.</p>
						  <a class="links" href="http://www.oodls.io/" target="_blank">View Oodls</a>
						  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
						</div>
					<img src="images/oodls.svg" class="work-images" id="oodlslogo">
						<p class="hidden-p">Charity site to reduce food waste.</p>
				</li>

				<li class="project">
					<a href="#" data-reveal-id="sleazyModal">
						<video class="small-12 columns all-vids work" id="sleaze" preload="auto" autoplay="autoplay" loop>
							<source src="http://d2jr4qmh8qz2ne.cloudfront.net/sleaze-final.mp4" type='video/mp4'/>
						</video>
					</a>
					<div id="sleazyModal" class="reveal-modal small-12 columns" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
						<h2 class="modalTitle">Sleazy Sounds</h2>
					  <p class="blurb">A music website that lets users search through tracks on Soundcloud for tunes to play and save.</p>
					  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
					</div>
					<img src="images/sleazylogo.png" class="work-images" id="sleazylogo">
					<p class="hidden-p">Soundcloud-based music search.</p>
				</li>
			</ul>	
		</section>
	</div>

	<div class="section" id="latest-work">
		<a name="section-spotlight"></a>
		<header class="row">
			<h2 id="project" class="small-12 columns"> LATEST PROJECT </h2>
			<article class="row">
				<p id="description" class="small-12 columns">
					This project was designed for <a href="http://www.futurehope.net/">Future Hope's</a> fundraising auction night. We worked with the charity to gamify the auction process and raise as many pledges form the 200 guests as possible. It raised £60,000 on the night, which has gone towards educating, housing and caring for homeless children in Kolkata, India. 
				</p>
			</article>
			<section id="latest-video">
				<h4 class="future-hope-titles" id="display">The Display</h4>
				<h4 class="future-hope-titles" id="controller">The Volunteer Controller</h4>
					<video class="small-12 columns all-vids landscape" id="future-hope-display" preload="auto" autoplay="autoplay" loop>
						<source src="http://d2jr4qmh8qz2ne.cloudfront.net/future-hope-display.mp4" type='video/mp4'/>
					</video>
					<video class="small-12 columns all-vids landscape" id="future-hope-controller" preload="auto" autoplay="autoplay" loop>
						<source src="http://d2jr4qmh8qz2ne.cloudfront.net/volunteercontroller.mp4" type='video/mp4'/>
					</video>
			<div class="row">
				<img src="images/intro.jpg" id="future-hope-image">
			</div>
			</section>
		</header>
	</div>

	<div class="section" id="four">
		<a name="section-four"></a>
		<header class="row">
			<h2 id="contact" class="small-12 columns"> CONTACT US </h2>
		</header>
		<section class="container" id="emailform">
			<div id="form-main" class="row">
        <div id="small-12 columns">
          <form action="/" class="form" id="form1" method="post" name="form1">
            <input class=
              "validate[required,custom[onlyLetter],length[0,100]] feedback-input"
              id="name" name="name" placeholder="name" type="text"> <input class=
              "validate[required,custom[email]] feedback-input" id="email" name=
              "emailaddress" placeholder="email" type="text"> 
            <textarea class="validate[required,length[6,300]] feedback-input"
              id="comment" name="body" placeholder="message">
            </textarea>
            <div class="submit">
              <button id="button-blue" type="submit" value="Send">S E N D</button>
            </div>
          </form>
        </div>
      </div>
    </section>
    <ul class="small-12 columns" id="emails">
	    <li class="number">us@czzt.co.uk</li>
	  </ul>
	</div>
</div>