<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>czzt</title>
    <link rel="stylesheet" href="css/foundation.min.css" />
    <link rel="stylesheet" href="css/jquery.fullPage.css" />
    <link rel="stylesheet" href="css/email.css" />    
    <link rel="stylesheet" href="css/section1.css" />
    <link rel="stylesheet" href="css/section2.css" />
    <link rel="stylesheet" href="css/section3.css" />
    <link rel="stylesheet" href="css/section5.css" />
    <link rel="stylesheet" href="css/page.css" />
    <link rel="stylesheet" href="css/latestwork.css" />
    <link href='https://fonts.googleapis.com/css?family=Muli:300|Roboto:100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/arrows.css" /> 
  </head>
  <body>

    <%= yield %>

    <script src="js/jquery.js"></script>
    <script src="js/jquery.fullPage.js"></script>
    <script src="js/foundation.js"></script>
    <script src="js/foundation.reveal.js"></script>
    <script src="js/script.js"></script>
    <script src="js/rollingtxt.js"></script>
    <script>
      $(document).ready(function() {
        $('#fullpage').fullpage();
      });
      $(document).foundation();
   </script>
	</body>
</html>




