<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>czzt</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/jquery.fullPage.css" />

  </head>
	<body>

    <%= yield %>

    <script src="js/foundation.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/jquery.fullPage.js"></script>
	</body>
</html>